html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: lightskyblue;
}

h1 {
  color: purple;
  word-spacing: 5px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

#results {
  text-align: center;
  font-weight: bold;
  border-color: black;
  border-style: double;
}
